<form action="/articles/<%=@article.id%>" method="post" name="edit_article">
  
  <input id="hidden" type="hidden" name="_method" value="PATCH">
  
  <label for="edit_article_title">Edit your article title:</label>
  <input type="text" name="edit_article_title" id="title" value="<%= @article.title %>">
  
  <label for="edit_article">Edit your article content:</label>
  <input type="text" name="edit_article_content" id="content" value="<%= @article.content%>">
  
  <input type="submit" id="submit">
  
</form>