<h2>Articles</h2>

<ul>
<% @articles.each do |article| %>
  <li><%= article.title %></li>
  <!--form for the delete button: -->
  <form method="post" action="/articles/<%=article.id%>">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="delete">
  </form>
<% end %>
</ul>